body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}
.container {
    width:40%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.error-message {
    background-color: rgba(255, 0, 0, 0.478);
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    justify-content: center;
    font-family: Arial Narrow, sans-serif	;
    text-align: center;
}
.success-message {
    background-color: rgba(0, 128, 0, 0.423);
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    justify-content: center;
    font-family: Arial Narrow, sans-serif	;
    text-align: center;

}
form {
    display: grid;
    gap: 15px;
}
label {
    font-weight: bold;
}
input, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* הוסף את סגנון ה-Footer */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    margin: 0 10px;  /* יצר מרווח בין הקישורים */
}

.icon_img {
    width: 30px;  /* יצר גודל קבוע לתמונות */
    height: 30px;
    margin-bottom: 5px;  /* יצר מרווח מתחת לתמונות */
}

#downloadForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loadingSpinner {
    display: none;
    width: 100px; /* התאם לרוחב הרצוי שלך */
    height: 100px; /* התאם לגובה הרצוי שלך */
    margin-top: 20px; /* התאם למרחק מהטופס העליון */
}
