<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/main.js"></script>
</head>
<body>
    <div class="header">
        <h1>Youtube Downloader</h1>
    </div>
    <div class="container">
        <form id="downloadForm">
            <label for="url" class="formElement" class="formElement">URL:</label>
            <input type="text" id="url" class="formElement" name="url" required>
            
            <label for="choice" class="formElement">Type:</label>
            <select id="choice" name="choice" class="formElement">
                <option value="1">Video</option>
                <option value="2">Playlist</option>
                <option value="3">Channel</option>
            </select>
            
            <label for="format" class="formElement">Format:</label>
            <select id="format" name="format" class="formElement">
                <option value="mp4">MP4</option>
                <option value="mp3">MP3</option>
            </select>
            
            <button type="button" onclick="download()" class="formElement">Download</button>
            <embed id="loadingSpinner" src="https://lottie.host/embed/89bf7a6d-2cd1-4b9e-9ce5-8af56a925ed8/qKkbQoMNAA.json">
        </form>
        <div id="errorMessage" class="error-message"></div>
        <div id="successMessage" class="success-message"></div>


        <!-- FOOTER עם קישורים ותמונות -->
        <div class="footer">
            <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=tamar.heisler1@gmail.com">
                <img src="https://tamarheisler.github.io/MyProfile/sendEmail.png" class="icon_img" alt="Email">
            </a>

            <a href="https://github.com/tamarheisler">
                <img src="https://tamarheisler.github.io/MyProfile/github_img.png" class="icon_img" alt="GitHub">
            </a>
        </div>
    </div>

</body>
</html>
